@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Congo you are going to learn how to connect with git and how to push code first time in git.</p>
    <p><img src="https://i.imgur.com/06wJht8.jpg" height="40%" width="40%" /></p>
</div>
